/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Jul, 2017, 3:44:22 PM
    Author     : Arc
*/
.navbar{
    color: #F7F7F7;
    padding-bottom: 10px;
    padding-top: 10px;
}

.panel-heading{
  margin-left:0px;
}
.logo{
    float: left; 
    height: 50px; 
    padding: 15px; 
    font-size: 20px; 
    font-weight: bold;
    font-family: Verdana, sans-serif;
}

.header-link{
    float:right; 
    font-size:14px; 
    height: 50px; 
    padding: 15px 15px; 
    font-size:16px; 
    font-weight: bold;
    font-family: Verdana, sans-serif;
}
a{
    text-decoration: none;
}
footer{
    padding: 10px 0;
    color:#FFFFFF;
    bottom: 0;
    width: 100%;
    position: relative;
    font-family: Trebuchet;
    background-color: #000000;
}
.table{
    border: none;
}
h5{
    font-weight: bolder;
}
.pad{
    margin-top: 100px;
}
.content1{
    padding-top: 150px;
    background: center;
    float: left;
    border: #000000;
    background-image: url("Images/farmer.jpg");
    height: 400px;
    margin-top: 85px;
    margin-bottom: 50px;
    margin-left: 105px;
    padding-left:0px; 
    padding-right:0px;
    transition: all .2s ease-in-out;
}
.content1:hover{
  transform: scale(1.05);
}
.content2{
    padding-top: 150px;
    background: center;
    background-image: url("Images/products.jpg");
    height: 400px;
    margin-top: 85px;
    margin-bottom: 50px;
    margin-left: 20px;
    transition: all .2s ease-in-out;
}
.content2:hover{
  transform: scale(1.05);
}
.banner{
    padding-bottom: 50px; 
    margin-bottom: 20px; 
    text-align: center; 
    color: #f8f8f8;
    background: center; 
    background-size: cover;
    font-family: Roboto;
}
.inner-banner-image{
    padding-top: 12%; 
    width:80%; 
    margin:auto;
}
.banner_content{
    background: center;
    padding-top: 6%; 
    padding-bottom: 6%; 
    overflow:hidden;
    margin-bottom: 12%; 
    background-color: rgba(0, 0, 0, 0.7); 
    max-width: 660px;
}
.button{
    color: #fff; 
    background-color: #c9302c; 
    border-color: #ac2925; 
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); 
    padding: 10px 16px; 
    font-size: 18px; 
    border-radius: 6px;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 750px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align:center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 
.h1{
    text-align:left;
}

.imag{
    margin-top: 100px;
    height:300px;
    width: 350px;
    float: left;
}

.comp{
    float: right;
}
.ta,.pa{
    margin-top: 150px;
}
.su{
    margin-top:150px;
    text-align:center;
}
.ca{
    color: #d0e9c6;
}
.var {
    height: 200px;
    width: 290px;
    margin-left: 15px;
}
.pan{
    height:325px;
    width:350px;
    margin-right: 15px;
    padding-left:0px;
    padding-right:0px;
    text-align: center;
    transition: all .2s ease-in-out;
}
.pan:hover{
  transform: scale(1.05);
}
.im{
    float: left;
    height: 300px;
    width: 300px;
    margin-bottom: 50px;
}
.container{
    margin-top: 75px;
    
}
.h{
    float: right;
}
.sup{
    margin-top:20px;
    float:left
}
.pada{
    margin-top: 100px;
}
.i{
  max-height: 500px;
}
.al{
    color: #fff;
}

.c1 {
   max-height: 260px;
  margin-left: 20px;
  margin-top:20px;
}

.c2 {
  padding-left: 10px;
  max-height: 260px;
}
 
.c3 {
  background-image: url("Images/cart.jpg");
  padding-top:10%;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 350px;
  min-width: 425px;
  transform-origin: 100%;
  transition: all .2s ease-in-out;
}

.c4 {
  background-image: url("Images/order.jpg");
  padding-top:10%;
  margin-right: 20px;
  min-height: 350px;
  min-width: 425px;
  transition: all .2s ease-in-out;
}

.c5 {
  background-image: url("Images/req.jpg");
  padding-top:10%;
  margin-right: 20px;
  min-height: 350px;
  min-width: 425px;
  transition: all .2s ease-in-out;
}
.c3:hover{
    transform: scale(1.05);
}

.c4:hover{
    transform: scale(1.05);
}

.c5:hover{
    transform: scale(1.05);
}

